$dark-back:     #111111;
$dark-color:    white;
@import 'theme';

$loaded-transition-time: 0.75s;
$loaded-transition: width $loaded-transition-time, margin $loaded-transition-time, padding $loaded-transition-time;

$logo-width: 30px;
$logo-weight: 900;
$menu-shadow: 0px 0px 5px #000;

$fold-size: 6px;

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin: 0;
    margin-left: 50px;
    padding: 25px;
    box-sizing: border-box;
}



.centered {
    margin: auto;
}

.search {
    max-width: 300px;
    margin-top: 100px;
    
    .title {
        text-align: center;
    }
    
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
    }
}
em {
    font-style: normal;
    color: $emph1;
}



pre {
    overflow-x: scroll;
    padding: 10px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 2px;
    height: 100%;
}

.views {
    display: flex;
    .option {
        flex-grow: 1;
        flex-basis: 0;
        border-bottom: 2px solid gray;
        margin-bottom: 2px;
        text-align: center;
        cursor: pointer;
        display: block;
        &:hover {
            color: $emph1;
        }
        &.active {
            border-bottom: 4px solid $emph1;
            margin-bottom: 0px;
            font-weight: bold;
        }
    }
}

.view {
    .grouping {
        -webkit-column-break-inside: avoid;
        padding: 10px;
    }

    .term {
        padding-left: 5px;
    }    
}

.links {
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: $emph1;
    }
}
    
.links *:not(:last-child):after {
    content: ', ';
}

    
h3, h4, h5 {
    margin: 0;
}

.quick-links {
    text-align: center;
}

@media (min-device-width: 300px) {
    .view {
        -webkit-column-count: 2;
    }
}

@media (min-device-width: 600px) {
    .view {
        -webkit-column-count: 4;
    }
}



.error {
    background-color: red;
    font-weight: 900;
    padding: 40px;
}

.toc {
    margin: auto; 
    ul {
        list-style-type: none;
    }
}
@media (max-width: 700px) {
    ul {
        padding-left: 15px;
    }
}

.policy {
    .title {
        h2, a {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            margin-right: 10px;
        }
    }
}

@import 'menu';
@import 'article';
@import 'typography';
@import 'icons';
@import 'loading';